/* ItemDetailsComponent.css */

.item-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .item-image img {
    max-width: 100%;
    max-height: 400px; /* Set maximum height for the image */
    object-fit: contain; /* Maintain aspect ratio of the image */
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
  .item-info {
    text-align: center;
  }
  
  .item-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .item-info p {
    font-size: 16px;
    line-height: 1.6;
  }
  
  .watch-on-youtube-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .watch-on-youtube-button button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 100px;
  }
  
  .watch-on-youtube-button button:hover {
    background-color: #cc0000;
  }