/* App.css */

/* Reset default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* Set the height of the root element */
html,
body,
#root {
  height: 100%;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,242,227,1) 0%, rgba(0,212,255,1) 100%);
}

/* Define a class for the main content area */
.content {
  min-height: calc(100% - 60px); /* Adjust the value to leave space for the footer */
  padding: 20px;
}